[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docopt = "*"
jinja2 = "*"
flit = "*"

[packages]
websockets = "*"
requests = "*"

[requires]
python_version = "3.7"
